body{
	margin-top:20px;
	background-color: #eee;
	
}

.btnplus{
	margin-top: 45px; 
	margin-left: 60px;
	color: rgb(108,117,126); 
	font-weight: 600; 
	background-color: rgb(254,225,14); 
	border: none; 
	border-radius: 5px; 
	width: 60px; 
	height: 30px;
	
}

.search-result-categories>li>a {
    color: #b6b6b6;
    font-weight: 400
}

.search-result-categories>li>a:hover {
    background-color: #ddd;
    color: #555
}

.search-result-categories>li>a>.glyphicon {
    margin-right: 5px
}

.search-result-categories>li>a>.badge {
    float: right
}

.search-results-count {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-result-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px
}

.search-result-item:after,
.search-result-item:before {
    content: " ";
    display: table
}

.search-result-item:after {
    clear: both
}

.search-result-item .image-link {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

@media (min-width:768px) {
    .search-result-item .image-link {
        display: inline-block;
        margin: -20px 0 -20px -20px;
        float: left;
        width: 200px
    }
}

@media (max-width:767px) {
    .search-result-item .image-link {
        max-height: 200px
    }
}

.search-result-item .image {
    object-fit:cover;
	min-width: 200px;
  	height: 200px;
}

.search-result-item .info {
    margin-top: 5px;
    font-size: 13.5pt;
    color: #999
}

.search-result-item .description {
    font-size: 14pt;
}

.search-result-item+.search-result-item {
    margin-top: 20px
}

@media (min-width:768px) {
    .search-result-item-body {
        margin-left: 200px
    }
}

.search-result-item-heading {
   font-size:20pt;
    font-weight: bold;
}

.search-result-item-heading>a {
    color: #555
}

@media (min-width:768px) {
    .search-result-item-heading {
        margin: 0
    }
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: rgb(254,225,14);
    color: rgb(108,117,126);
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}